<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Tiled2GBA" value="../../../../../../Tools/Tiled2GBA.exe"/>
		<add key="MapsSrc" value="../../../../../../Assets/maps/"/>
		<add key="MapsDst" value="../../../../../../DemoGame/src/res/maps/"/>
		<add key="ClearDst" value="true"/>
	</appSettings>
</configuration>